<h1>New Game:</h1>
<ul>
  <% @letters.each do |letter| %>
    <li><%= letter %></li>
  <% end %>
</ul>
<h2>What is the longest word you can find?</h2>
<form action="/games/score" method="post" data-turbo="false">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <% @letters.each do |letter| %>
    <%= hidden_field_tag 'letters[]', letter %>
  <% end %>
  <input type="text" name="word">
  <input type="submit" value="Play">
</form>
